---
import { type Publication, type GroupedPublications } from "../types";
import publications from "../data/publications.json";
import { format } from "date-fns";

function groupByYear(data: Publication[]): GroupedPublications {
  return data.reduce((acc: GroupedPublications, item) => {
    (acc[item.year] = acc[item.year] || []).push(item);
    return acc;
  }, {});
}

const groupedPublications: GroupedPublications = groupByYear(publications);
---

<div>
  <h2 class="font-bold text-2xl md:text-3xl mb-6">Publications</h2>
  <div>
    {
      Object.entries(groupedPublications)
        .sort(([yearA], [yearB]) => parseInt(yearB) - parseInt(yearA))
        .map(([year, yearlyPublications]) => (
          <div class="mt-4">
            <h2 class="text-lg md:text-2xl font-bold">{year}</h2>
            <div class="mb-8">
              {yearlyPublications
                .sort(
                  (a, b) =>
                    new Date(b.published).getTime() -
                    new Date(a.published).getTime()
                )
                .map(({ published, url, title, translations }) => (
                  <div class="mt-6">
                    <p class="text-lg md:text-xl font-sans leading-9">
                      <a
                        href={url}
                        class="text-amber-300 underline underline-offset-2 hover:text-amber-500"
                        target="_blank"
                      >
                        {title}
                      </a>
                      {" "}
                      <span class="text-gray-200">
                        {" "}
                        - {format(new Date(published), "MMMM d, yyyy")}
                      </span>
                    </p>
                    {translations &&
                      translations.map(({ published, url, title, lang }) => (
                        <p class="text-sm pl-7 mt-3">
                          <span class="mr-1">{lang}</span>
                          <a
                            href={url}
                            class="text-amber-300 underline underline-offset-2 hover:text-amber-500"
                            target="_blank"
                          >
                            {title}{" "}
                          </a>
                        </p>
                      ))}
                  </div>
                ))}
            </div>
          </div>
        ))
    }
  </div>
</div>
